# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# mac
.DS_Store

# Other
.vscode
*.tsv
*.pt
gpt*.txt
*.env
local/
local_*
build/
*.egg-info/
.idea

# Project-specific
secrets.toml
*.log
*/assertion.log
*results/
vector_store.zip
vector_store/vector_store/.lock
vector_store/vector_store/collection/my_documents/storage.sqlite
vector_store/vector_store/meta.json
